<% provide(:title,"About") %>
<!DOCTYPE html>
<html>
<!-- <head>
	<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head> -->
<body>
<h1>About</h1>
<p>This page is about to provide information.</p>
<p>If you want to learn Ruby on rails with scratch then you should take a look below link.</p>
<p><a href="https://www.railstutorial.org">Learn Rails</a></p>
</html>
</body>