<% provide(:title,"Help") %>
<!DOCTYPE html>
<html>
<!-- <head>
<title><% yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head> -->
<body>
<h1>Help</h1>
<p>This page is all about to provide help.</p>
<p>Please take a look how this static pages work.</p>
<p><a href="https://www.railstutorial.org/book/static_pages">Rails Tutorial</a></p>
</body>
</html>